<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div class="homepage-box">

      <form action="/landlord/home" method="get">
        <div class="homepage">
          <h1>
          Have a property to spare?
          </h1>
        </div>

        <div class="homepage-button">
          <input class="homepage-button-text" type="submit" value="Go to your landlord account!">
        </div>

      </form>

      <form action="/spaces" method="get">
        <div class="homepage">
          <h1>
          Fancy booking a stay with us?
          </h1>
        </div>

        <div class="homepage-button">
          <input class="homepage-button-text" type="submit" value="View listings!">
        </div>
      </form>

    </div>
  </body>
