<form action="/spaces/new" method="get">
  <h1>
  Have a property to spare?
  </h1>
   <input type="submit" value="Add listing!">
</form>

<form action="/spaces" method="get">
  <h1>
  Fancy booking a stay with us?
  </h1>
   <input type="submit" value="View listings!">
</form>