<p>Log in to your account</p>
<form action='/landlord/welcome' method='get'>
  <input type='text' placeholder='username'>
  <input type='password' placeholder='password'>
  <input type='submit' value='OK'>
</form>
