<h1>Sign up as a Landlord<h1>

<form action='/landlord/registered' method='post'>
  <input type='text' name='first_name' placeholder='First Name' required>
  <input type='text' name='last_name' placeholder='Last Name'required>
  <input type='email' name='email_address' placeholder='Email Address'required>
  <input type='text' name='user_name' placeholder='User Name'required>
  <input type='text' name='password' placeholder='Password'required>
  <input type='submit' value='submit'>
</form>
  