<p>Log in to your account</p>
<form action='/landlord/retrieve_id' method='post'>
  <input type='text' name='user_name' placeholder='username'>
  <input type='password' name='password' placeholder='password'>
  <input type='submit' value='OK'>
</form>
