

</html>

<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/styles.css">
  </head>

  <body class="landlord-page">

    <div>
      <p class="landlord-title">Your account:</p>
    </div>

    <div class="landlord-account">

      <p>
      Name: <%=@landlord.first_name%> <%=@landlord.last_name%>
      </p>
      <p>Email address: <%=@landlord.email_address%></p>
      <p>Username: <%=@landlord.user_name%></p>

    </div>

  </body>
</html>