<h1>You have made a big mistake</h1>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<img src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Uncle_Sam_%28pointing_finger%29.jpg/220px-Uncle_Sam_%28pointing_finger%29.jpg" />


<form action="/landlord/login" method="get">
<input type="submit" value="Get it right this time"  >
</form>

<form action="/landlord/register" method="get">
<input type="submit" value="Join the CULT">
</form>
