<h1>Welcome to Makers BnB :-)</h1>

<form action="/landlord/view" method="get">
    <input type="submit" value="View Your Account">
</form>

<form action="/spaces/new" method="get">
    <input type="submit" value="Add Your Space">
</form>

<form action="/landlord/listings" method="get">
    <input type="submit" value="View Your Spaces">
</form>





<%# <a href="/landlord/view"> View Your Account </a> %>
