<h1>Welcome to Makers BnB :-)</h1>

<%# <<temporary to test>> %>
<p>landlord id: <%= @landlord_id %></p>

<form action="/landlord/view" method="get">
    <input type="submit" value="View Your Account">
</form>

<form action="/spaces/new" method="get">
    <input type="submit" value="Add Your Space">
</form>




<%# <a href="/landlord/view"> View Your Account </a> %>
