<h1>Welcome to Makers BnB</h1>

<form action='/landlord/register' method='get'>
  <input type='submit' value='Sign up'>
</form>

<form action='/landlord/login' method='get'>
  <input type='submit' value='Log in'>
</form>
