<h1>Add a listing<h1>

<form action='/listed' method='post'>
  <input type='text' name='location' placeholder='Location'>
  <input type='text' name='price_per_night' placeholder='Price per night'>
  <input type='text' name='dates_available' placeholder='Dates available'>
  <input type='text' name='owner_name' placeholder='Owner name'>
  <input type='text' name='contact_details' placeholder='Contact details'>
  <input type='text' name='description' placeholder='Description'>
  <input type='submit' value='submit'>
</form>
  