<!DOCTYPE html>
<html lang="en">
    <head>
        <title>No Listings</title>
        <style>

          /* font-size:72px;
          font-size:4.5rem;
          font-weight:700;
          line-height:1.125;
          margin-bottom:32px;
          margin-bottom:2rem; */

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        body {
            display: table;
            font-family: 'Quicksand', sans-serif;
            font-weight: 300;
            background-color: #ff0d7b;
            color: #ffffff;
        }

        .my-block {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            font-size:72px;
            font-size:2rem;
            line-height:1.125;
            margin-bottom:32px;
            margin-bottom:2rem;
        }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    </head>
    <body>
    <div class="my-block">
       oops! It looks like there aren't any properties here!
    </div>
    </body>
</html>
