body {
  font-family: 'Quicksand', sans-serif;
  background-color: #ff0d7b;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  text-align: left;
  flex-grow: 1;
  margin-left: 30px;
}

.error_message {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

.homepage > h1 {
    text-align: center;
    font-size: 2.5rem;
}

.homepage-button {
  text-align: center;
}

.homepage-button-text {
  font-size: 1.8rem;
}
.homepage-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hotel_image {
  height: 10rem;
  border: 2px solid white;
  border-radius: 5px;
  margin: 1rem;
  align-self: flex-start;
  flex-direction: row;
  margin-left: auto;
}

img {
  border: 2px solid white;
  border-radius: 5px;
}

h1 {
  font-size: 1rem;
}

input {
  background-color: #22bdff;
  border: 5px solid #fdf5e6;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  background-color: #ff0d7b;
  color: #ffffff;
}

.child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 5px;
  width: 40em;
  margin: 1em;
}

.child1 {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 5px;
  width: 10rem;
  margin: 1em;
}

.child > div {
  border: none;
}

.availability {
  margin: 1em;
  height: 7.5rem;
  align-self: flex-end;
}

.box {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.listing_id {
  background-color: #23bdff;
  color: black;
  border: 1px solid #2196f3;
}

.listing {
  display: flex;

  margin: auto;
  align-content: center;
  width: fit-content;
}

.landlord-page {
  font-family: 'Quicksand', sans-serif;
  background-color: #ff0d7b;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  text-align: center;
  flex-grow: 1;
  margin-top;: 30px;
}


.landlord-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-button {
  text-align: center;
}

.l-button-text {
  font-size: 1.8rem;
}

::placeholder {
  color: #cecccc
}

.my-block {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size:60px;
  font-size:2rem;
  line-height:1.125;
  margin-bottom:32px;
  margin-bottom:2rem;
}

.landlord-account {
  width: 100%;
  font-size: 30px;
  text-align: left;
  padding-left: 35%;
}

.landlord-title {
  font-size: 40px;
}